<div class="bio-container">
  <div class="image">
    <img alt="Robert DeLuca Portrait" src="assets/images/robert-deluca-bio-portrait.jpg" />
  </div>
  <div class="bio">
    <h3 class="headline">
      Hi, I'm <span>Robert DeLuca</span>
    </h3>
    <p>
      I love all things front-end, from designing great user
      experiences, ensuring they're accessible, crafting them in CSS, and
      powering them with JavaScript. I'm all about that OSS, that OSS, no
      closed source.
    </p>
    <p>
      I also love to collaborate with other developers! If you would
      like to pair on a problem you can reach me <a href="mailto:robertdeluca19@gmail.com">here</a>
      or on <a href="https://twitter.com/robdel12">twitter (@robdel12)</a>
    </p>
  </div>
</div>
