<a href="/" class="logo" aria-label="Robert DeLuca Logo">rd</a>
<nav class="nav-wrapper">
  <ul>
    <li>
      {{#link-to "blog"}}Blog{{/link-to}}
    </li>
    <li>
      <a href="mailto:robertdeluca19@gmail.com">
        {{inline-svg "/assets/images/mail-icon.svg"}}
      </a>
    </li>
  </ul>
</nav>
