<span class="dot"></span>
<span class="date">
  {{moment-format timeline.published-date "MMM, Do"}}
  <br />
  {{moment-format timeline.published-date "YYYY"}}
</span>
{{#if isInstagram}}
  <div class="image-container">
    <img alt="" src={{timeline.image-url}} />
  </div>
  <div class="instagram-content">
    <p class="spec-description description">{{format-markdown timeline.description}}</p>
    <span class="icon">
      {{inline-svg iconPath}}
    </span>
  </div>
{{else}}
  <div>
    <h3 class="title">{{timeline.title}}</h3>
    <p class="spec-description description">{{format-markdown timeline.description}}</p>
    <span class="icon">
      {{inline-svg iconPath}}
    </span>
  </div>
{{/if}}
