@import "reset";
@import "variables";
@import "pod-styles";

html {
  font-size: 1em;
}

body {
  font-family: $primaryFont;
  font-weight: 400;
  line-height: 1.45;
}

:focus {
  outline: 1px dotted #292929;
}

// fix ember actions on mobile safari
[data-ember-action], a, .link {
  cursor: pointer;
}

// YouTube responsive
iframe {
  width: 100%;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
  color: $selectiveYellow;
}

h2 {
  font-size: 1.953em;
  color: #4E4E4E;
}

h3 {
  font-size: 1.563em;
  color: darker(#4E4E4E, 20%);
}

h4 {
  font-size: 1.25em;
}

small,
.font_small {
  font-size: 0.8em;
}


img {
  width: 100%;
}

ul {
  margin-bottom: 20px;
  list-style: disc outside;
}

pre {
  margin-bottom: 1.3em;
  max-width: 100%;
  overflow: scroll;

  &:not(code) {
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8
  }
}

code,
pre {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  font-size: 14px;
  line-height: 20px;
}

li {
  font-family: $primaryFont;
}

.container {
  max-width: 900px;
  margin: 20px auto 0 auto;

  @media screen and (max-width: 900px) {
    padding: 0 25px;
  }

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.blog-post {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.blog-show-header {
  @extend .blog-post;
}

.blog-show-is-medium {
  background: $gallery;
  padding: 10px;
  border-radius: 6px;
}

.timeline-container {
  border-left: 3px solid $selectiveYellow;
  margin-left: 100px;
  position: relative;

  a {
    text-decoration: none;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 100px;
    width: 1px;
    border-left: 3px solid $selectiveYellow;
    z-index: -1;
    left: -3px;
  }

  &:before {
    height: 145px;
    top: -140px;
  }

  &:after {
    bottom: -100px;
  }

  @media screen and (max-width: 900px) {
    margin-left: 114px;
  }

  @media screen and (max-width: 600px) {
    margin-left: 0;
    border: none;

    &:before,
    &:after {
      display: none;
    }
  }
}
