.bio-container {
  max-width: 900px;
  margin: 80px auto 0 auto;
  display: flex;
  align-items: center;

  @media screen and (max-width: 900px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 600px) {
    display: block;
    margin: 40px auto 0 auto;
  }
}

.image {
  border: 3px solid $selectiveYellow;
  background: white;
  min-width: 195px;
  max-width: 195px;
  height: 195px;
  border-radius: 95px;
  margin-right: 60px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    margin: 0 auto 10px auto;
  }
}

.bio {
  font-family: $primaryFont;
}

.headline {
  font-size: 20px;
  margin-bottom: 30px;

  span {
    font-weight: $bold;
    color: $selectiveYellow;
  }

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}
