& {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px;
}

.active {
  transition: border-bottom 100ms;
  transition-timing-function: ease-out;
  border-bottom: 3px solid $selectiveYellow;
}

.nav-wrapper {
  ul {
    margin-bottom: 0;
  }

  li {
    margin-right: 40px;
    display: inline-block;
    border-bottom: 3px solid transparent; // so the content isn't pushed down on hover

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    padding: 8px 0;
    font-family: $primaryFont;
    text-decoration: none;
    font-weight: $bold;
    color: $blueRibbon;

    svg {
      vertical-align: middle;

      path {
        fill: $blueRibbon;

        &:active,
        &:hover,
        &:focus {
          fill: darken($blueRibbon, 10%);
        }
      }
    }


    &:active,
    &:hover,
    &:focus {
      @extend .active;
      color: darken($blueRibbon, 10%);
    }
  }
}

.logo {
  color: $blueRibbon;
  font-size: 36px;
  font-family: $primaryFont;
  font-weight: $bold;
  text-decoration: none;
  border-bottom: 3px solid transparent; // so the content isn't pushed down on hover

  &:active,
  &:hover,
  &:focus {
    @extend .active;
    color: darken($blueRibbon, 10%);
  }
}
