& {
  display: block;
  padding: 30px;
  margin: 60px;
  background: #F5F5F5;
  max-width: 700px;
  position: relative;
  border: 1px solid rgba(0,115,255,0.00);
  transition: all 0.3s ease;
  color: #4E4E4E;
  cursor: pointer;

  // Trianlge style
  &:after {
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 37%;
    left: 0;

    border: 1em solid black;
    border-color: transparent transparent #F5F5F5 #F5F5F5;

    transform-origin: 0 0;
    transform: rotate(45deg);

  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid rgba(0,115,255,0.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    background: #FCFCFC;
    color: #000;

    &:before {
      border-right-color: #FCFCFC;
    }

    &:after {
      border-color: transparent transparent #FCFCFC #FCFCFC;
      box-shadow: -1px 2px 1px 0 rgba(0,115,255,0.10);
    }

    .description {
      color: #6A6A6A;
    }

    .dot {
      background-color: $blueRibbon;
    }

    .date {
      opacity: 1;
    }

    .icon {
      path {
        fill: $selectiveYellow;
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin: 40px 0;

    &:after {
      display: none;
    }
  }
}

&.is-instagram {
  padding: 0;
  max-width: 460px;

  &:after {
    top: 41.1%;
  }
}

.image-container {
  border-left: 2px solid #F5F5F5;
  border-right: 2px solid #F5F5F5;
}

.instagram-content {
  padding: 20px;
}

.date {
  transition: all 0.3s ease;
  color: #6A6A6A;
  opacity: 0;
  position: absolute;
  left: -155px;
  top: 43%;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.dot {
  transition: all 0.3s ease;
  top: 43%;
  width: 23px;
  height: 23px;
  left: -74px;
  position: absolute;
  border-radius: 50%;
  background-color: $selectiveYellow;
}

.title {
  font-size: 24px;
  font-family: $primaryFont;
  margin: 0;
  margin-bottom: 10px;
  max-width: 560px;
  line-height: 33px;
  color: #4E4E4E;
}

.icon {
  transition: all 0.3s ease;
  color: $selectiveYellow;
  position: absolute;
  top: 32px;
  right: 25px;

  svg {
    height: 30px;
    width: 30px;
  }

  path {
    fill: #797979;
  }

  @media screen and (max-width: 420px) {
    display: block;
    position: initial;
    text-align: center;
  }
}

.description {
  font-size: 16px;
  font-family: $primaryFont;
  margin-bottom: 10px;
  color: #918C8C;
  line-height: 28px;
}

.ctaIcon {
  margin-left: 6px;
  font-size: 12px;
}

.cta {
  color: #006EFF;
  font-family: $primaryFont;
  text-decoration: none;
  font-size: 16px;
}
