<h1>Blog posts</h1>

{{#each model as |post|}}
  <div class="blog-post spec-blog-post">
    <h2>
      {{#link-to "blog.show" post.attributes.post-slug}}
        {{post.attributes.title}}
      {{/link-to}}
    </h2>
    <p>{{moment-format post.attributes.published-date "dddd, MMMM Do YYYY"}}</p>
  </div>
{{/each}}
