<header class="blog-show-header spec-blog-show-header">
  <h1>{{model.title}}</h1>
  <p>{{moment-format model.published-date 'dddd, MMMM Do YYYY'}}</p>
</header>

{{#if model.is-medium}}
  <p class="blog-show-is-medium spec-is-medium">
    Heads up! This post originated on Medium and might be best read there.

    <a href={{model.url}}>
      Click here to go to Medium.
    </a>
  </p>

  {{{model.body}}}
{{else}}
  {{format-markdown model.body}}
{{/if}}
